<div class="sidebar" data-color="azure" data-background-color="white">
    <div class="logo">
        <a href="/" class="simple-text logo-normal">
            Wazi Network
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" href="/auth/admin">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/auth/admin/data">
                    <i class="material-icons">content_paste</i>
                    <p>Manage Data</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/auth/admin/users">
                    <i class="material-icons">face</i>
                    <p>Manage Users</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/auth/admin/notifications">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
        </ul>
    </div>
</div>
