<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 d-none d-sm-block">
                <a href="/" class="navbar-brand"><span>Freelance</span>Network</a>
                <p>An online marketplace built for everyone and anyone. Fast and easy start, competitive stay.</p>
            </div>
            <div class="col col-sm-7">
                <h4>Support</h4>
                <ul>
                    <li>FAQ</li>
                    <li>Report Bug</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
