<nav id="navBar" class="navbar navbar-light navbar-expand-lg fixed-top py-1"
    style="background-color: #ffff; border-bottom: #f4f4f4 solid 1px;">
    <a href="/" class="navbar-brand"><span>Wazi</span>Network</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ml-auto justify-content-end">
            <li class="nav-item <% if(nav == "home" ) {%> active <% } %>"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/#features" class="nav-link">Features</a></li>
            <li class="nav-item <% if(nav == "faq" ) {%> active <% } %>"><a href="/faq" class="nav-link">FAQ</a></li>
            <% if(currentUser) { %>
            <li class="nav-item"><a href="/tasks" class="nav-link">Browse Tasks</a></li>
            <li class="nav-item"><a href="/tasks/new" class="nav-link">Create Task</a></li>
            <% } %>
        </ul>

        <% if(!currentUser) { %>
        <ul class="navbar-nav my-2 my-lg-0 ml-lg-3">
            <li class="nav-item"><a href="/auth" class="nav-link">Login / Register</a></li>
        </ul>
        <% } else { %>
        <ul class="navbar-nav my-2 my-lg-0 ml-lg-3">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="userActionsDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome <%= currentUser.username %>
                </a>

                <div class="dropdown-menu" aria-labelledby="userActionsDropdown">
                    <a class="dropdown-item" href="/auth/profile/<%= currentUser.username %>">
                        View Profile
                    </a>
                    <a class="dropdown-item" href="#">View Task History</a>
                    <a class="dropdown-item" href="/auth/logout">Logout</a>
                </div>
            </li>
        </ul>
        <% } %>
    </div>
</nav>
