<% layout('layouts/boilerplate') %>

<% include ./partials/navbar.ejs %>

<section class="hero text-center d-flex" id="home">
    <div class="container align-self-center">
        <h1 class="my-2">Welcome to WaziNetwork</h1>
        <h2>A community built for freelancers and hirers alike</h2>
       <a href="/auth" class="btn btn-lg btn-outline-primary">GET STARTED</a>
    </div>
</section>

<section class="text-center" id="features">
    <div class="feature-title">
        <h1>Features</h1>
        <p>Listed below are the feautures available on our platform.</p>
    </div>

    <div class="container feature-list">
        <div class="row">
            <div class="card col-6 col-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Work from anywhere</h5>
                    <p class="card-text">100% online, no restriction on when and where to post or perform tasks.</p>
                </div>
            </div>

            <div class="card col-6 col-lg-4">
                <div class="card-body">
                    <h5 class="card-title">A community of skilled individuals</h5>
                    <p class="card-text">Our freelancer moderation systems validate that the most skilled individual is
                        who you get.</p>
                </div>
            </div>

            <div class="card col-6 col-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Platform built with everyone in mind</h5>
                    <p class="card-text">Zero-hustle registration, no membership fees, get started in approx. 30 seconds
                    </p>
                </div>
            </div>

            <div class="card col-6 col-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Real-time Chat</h5>
                    <p class="card-text">Receive and give updates on task projects in real-time.</p>
                </div>
            </div>

            <div class="card col-6 col-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Informative Dashboards</h5>
                    <p class="card-text">Track and monitor earnings and posted tasks easily.</p>
                </div>
            </div>

            <div class="card col-6 col-lg-4">
                <div class="card-body">
                    <h5 class="card-title">Task Notification</h5>
                    <p class="card-text">Always stay up to date with new tasks posted.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer.ejs %>
