<% layout('layouts/boilerplate') -%>
<% include ../partials/navbar.ejs %>

<div id="taskList">
    <% include ../partials/paginate-task %>

    <% tasks.docs.forEach(function(task) {%>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= task.title %></h2>
                <h6 class="card-subtitle">Price Range: <%= task.price_range %></h6>
                <p class="card-text"><%= task.description %></p>
                <a href="/tasks/<%= task.id%>" class="card-link">View More</a>
            </div>
        </div>
    <% }); %>
    
    <% include ../partials/paginate-task %>
</div>
