<% layout('layouts/boilerplate') -%>
<style>
    #navBar {
        position: relative;
    }
</style>

<div id="chatSection" class="max-width max-height">
    <% include ../partials/navbar.ejs %>

</div>
